
/* Enviro Plus Web */
/* More info at: */
/* https://gitlab.com/idotj/enviroplusweb */

/* Variables */
:root {
  --color-white: #fff;
  --color-black: #14161b;
  --color-gray-lighter: #eee;
  --color-gray-light: #ccc;
  --color-gray: #999;
  --color-gray-dark: #505050;
  --color-gray-darker: #242424;
  --color-red: #df2f34;
  --color-blue: #0177c0;
  --color-green: #568211;
  --color-yellow: #f5b60f;
  --color-noise-high: #f5710f;
  --color-noise-mid: #c43200;
  --color-noise-low: #763200;
  --color-noise-amp: #a07600;
  --color-olive: #808000;
  --color-violet: #771e9b;
  --color-turquoise: #40826c;
  --color-dust100: #57473a;
  --color-dust25: #715f54;
  --color-dust10: #8c796f;
}

/* Color names */
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.color-red {
  color: var(--color-red);
}
.color-blue {
  color: var(--color-blue);
}
.color-green {
  color: var(--color-green);
}
.color-yellow {
  color: var(--color-yellow);
}
.color-noise-high {
  color: var(--color-noise-high);
}
.color-noise-mid {
  color: var(--color-noise-mid);
}
.color-noise-low {
  color: var(--color-noise-low);
}
.color-noise-amp {
  color: var(--color-noise-amp);
}
.color-olive {
  color: var(--color-olive);
}
.color-violet {
  color: var(--color-violet);
}
.color-turquoise {
  color: var(--color-turquoise);
}
.color-pmColor100 {
  color: var(--color-dust100);
}
.color-pmColor25 {
  color: var(--color-dust25);
}
.color-pmColor10 {
  color: var(--color-dust10);
}

/* Global styles */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.eot");
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.ttf")
      format("truetype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.svg#NotoSans")
      format("svg");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.eot");
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.ttf")
      format("truetype"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.svg#NotoSans")
      format("svg");
}

html,
body {
  height: 100%;
}
body {
  font-family: "Noto Sans", Arial, Helvetica, Sans-Serif;
  font-size: 16px; /* 1rem */
}
body,
body.theme-light {
  color: var(--color-black);
  background: var(--color-gray-lighter);
}
body.theme-dark {
  color: var(--color-gray-light);
  background-color: var(--color-black);
}
select,
input {
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 0.15rem;
  border: 2px solid var(--color-black);
  border-radius: 0.25rem;
  cursor: pointer;
}
/* Only for webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 0.5rem;
  }
}
.theme-dark select,
.theme-dark input {
  color: var(--color-gray-light);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-dark);
}
input[type="number"] {
  width: 3.25rem;
}
button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0.15rem;
  border: 2px solid var(--color-black);
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}
.theme-dark button,
.theme-dark .button {
  color: var(--color-gray-light);
  background-color: var(--color-black);
  border: 2px solid var(--color-gray-dark);
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-light);
  z-index: 1;
}
.theme-dark .header {
  background-color: var(--color-black);
  border-bottom: 1px solid var(--color-gray-dark);
}
.header-title {
  margin: 0 1rem;
}
h1 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
  background: linear-gradient(160deg, var(--color-green), var(--color-black));
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: logo-gradient-animation 15s ease infinite;
}
.theme-dark h1 {
  background: linear-gradient(
    160deg,
    var(--color-green),
    var(--color-gray-light)
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
}
@keyframes logo-gradient-animation {
  0% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
  100% {
    background-position: 0% 42%;
  }
}
.container-menu-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
}
.container-menu-settings > div {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--color-gray-light);
}
.theme-dark .container-menu-settings > div {
  border-left: 1px solid var(--color-gray-dark);
}
.container-menu-settings > div:first-child {
  border-left: none;
}
.header-icon {
  width: 1.75rem;
  max-height: 2rem;
  margin-right: 1rem;
}
body[data-fan-gpio="False"] .container-btn-fanGpio {
  display: none !important;
}
.button-icon-svg {
  max-width: 1.25rem;
  max-height: 1.25rem;
  width: 100%;
  height: auto;
  stroke-width: 0.02rem;
}
.button-icon-svg,
.header-icon svg {
  fill: var(--color-black);
  stroke: var(--color-black);
}
.theme-dark .button-icon-svg,
.theme-dark .header-icon svg {
  fill: var(--color-gray-light);
  stroke: var(--color-gray-light);
}
.theme-light button#theme-light,
.theme-dark button#theme-dark {
  display: none;
}

.container-btn-gitlab svg {
  stroke: unset !important;
}

/* Header - Mobile version */
@media screen and (min-width: 1260px) {
  .container-menu-hamburger {
    display: none;
  }
}
.menu-hamburger {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-left: auto;
  position: relative;
  z-index: 1;
  min-width: auto;
  stroke: var(--color-black);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.theme-dark .menu-hamburger {
  stroke: var(--color-gray-light);
}
.menu-hamburger.btn-active {
  transform: rotate(180deg);
}
.menu-main-hamburger {
  fill: none;
  stroke-width: 6;
}
.menu-line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menu-line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.menu-line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.btn-active .menu-line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.btn-active .menu-line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.btn-active .menu-line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (max-width: 1259px) {
  h1 {
    font-size: 1.5rem;
  }
  .container-menu-hamburger {
    margin: auto 0.5rem auto auto;
    z-index: 2;
  }
  .container-menu-settings {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    padding: 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-menu-settings.menu-settings-open {
    width: 66%;
    max-width: 14rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    border-left: 1px solid var(--color-gray-light);
    background: var(--color-white);
  }
  .theme-dark .container-menu-settings.menu-settings-open {
    border-left: 1px solid var(--color-gray-darker);
    background: var(--color-black);
  }
  .container-menu-settings > div {
    padding: 0;
    width: 100%;
    border-left: none !important;
    margin-bottom: 2rem;
  }
  .container-info-time {
    margin-top: -1.1rem;
  }
  .container-menu-settings > div:last-child {
    margin-bottom: 4rem;
  }
}

/* Graph container */
.graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "temp humi"
    "pres lux"
    "noise noise"
    "gas gas"
    "pm pm"
    ". .";
  height: calc(100% - 6.5rem);
  margin: 2.5rem 2rem 0 2rem;
  gap: 4rem;
}
@media screen and (max-width: 640px) {
  .graphs-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "temp"
      "humi"
      "pres"
      "lux"
      "noise"
      "gas"
      "pm"
      ".";
    gap: 3rem;
  }
}

/* Graphs */
.graph-temp {
  grid-area: temp;
}
.graph-humi {
  grid-area: humi;
}
.graph-pres {
  grid-area: pres;
}
.graph-lux {
  grid-area: lux;
}
.graph-noise {
  grid-area: noise;
}
.graph-gas {
  grid-area: gas;
}
.graph-pm {
  grid-area: pm;
}
body[data-hasGasSensor="False"] .graph-gas,
body[data-hasParticulateSensor="False"] .graph-pm {
  display: none !important;
}
.loading-spinner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='1000ms' repeatCount='indefinite'/%3E%3Cpath d='M64 6.69a57.3 57.3 0 1 1 0 114.61A57.3 57.3 0 0 1 6.69 64' fill='none' stroke='%23404040' stroke-width='12'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: min(2.5rem, calc(100% - 0.5rem));
}
.graph-container {
  width: calc(100% - 1.5rem);
  background-color: var(--color-white);
  border-radius: 0.25rem;
}
.graph-header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  border-bottom: 2px solid var(--color-gray-lighter);
  font-size: 1.3rem;
  padding: 1.25rem 0.75rem 1rem 0.75rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .graph-header {
    font-size: 1rem;
    gap: 0.75rem;
  }
}
.graph-header h2 {
  text-align: left;
  font-size: inherit;
  margin: 0;
}
.graph-header-readings {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 640px) {
  .graph-header-readings {
    gap: 1rem;
  }
}
.theme-dark .graph-container {
  background-color: var(--color-gray-darker);
}
.theme-dark .graph-header {
  border-bottom: 2px solid var(--color-black);
}
.graph-chart {
  padding: 0 0.75rem 1.25rem 0.75rem;
}
.graph-chart > canvas {
  width: 100%;
  display: block;
}

/* a11y */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
